<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple</title>
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/responsive.css">
  </head>
  <body>
    <header>
      <div class="content">
        <a href="/"><img src="./img/apple.svg" alt="logo"></a>
        <a href="/mac">Mac</a>
        <p>iPad</p>
        <p>iPhone</p>
        <p>Watch</p>
        <p>TV</p>
        <p>Music</p>
        <p>Support</p>
        <img src="./img/loupe.svg" alt="loupe">
        <img src="./img/bag.svg" alt="bag" id="bag">
      </div>
    </header>

    <div class="iphone-se">
      <div class="about-se">
        <h1>iPhone SE</h1>
        <h4>Lost to love. Less to spend. <br>
          Starting at $399</h4>
        <p>From $9.54/mo. or $299 with trade-in</p>

        <div class="btns">
          <a href="#">Learn More ></a>
          <a href="#">Buy ></a>
        </div>
      </div>

      <div class="img-container">
        <img src="./img/ip11.PNG" alt="iphone">
      </div>
    </div>

    <div class="iphone-11">
      <div class="about-11">
        <h1>iPhone 11</h1>
        <h4>Just the right amount everything</h4>
        <p>From $19.95/mo. or $479 with trade-in</p>

        <div class="btns">
          <a href="#">Learn More ></a>
          <a href="#">Buy ></a>
        </div>
      </div>

      <div class="img-container">
        <img src="./img/Iphones.jpg" alt="all of iphones">
      </div>
    </div>


    <div class="apple-tv">
      <div class="img-container">
        <img class="logo" src="./img/logo-tv.png" alt="apple-tv">
        <img class="woman" src="./img/woman.jpg" alt="woman">
      </div>

      <div class="button">
        <h3>How to Be an Antiracist with Ibram X. Kendi</h3>
        <div class="btn">
          <a href="#">Watch Now</a>
          <img src="./img/play-button.svg" alt="play">
        </div>
      </div>
    </div>

    <div class="grid-collection">
      <div class="airpods"> <!--AirPods-->
        <div class="about">
          <h1>Make them yours.</h1>
          <p>Personalize your AirPods with <br>
            free engraving. Only at Apple</p>

          <div class="buttons">
            <a href="#">Learn More ></a>
            <a href="#">Buy ></a>
          </div>
        </div>

        <div class="all-imgs-container">
          <img src="./img/airpods.jpg" alt="airpods">
        </div>
      </div> <!--AirPods-->

      <div class="school"> <!--School-->
        <div class="about">
          <h1>Buy a Mac or iPad for <br>
            college. Get AirPods.</h1>

          <div class="buttons">
            <a href="#">Shop ></a>
          </div>
        </div>

        <div class="all-imgs-container">
          <img src="./img/mac-ipad.jpg" alt="Mac and Ipad">
        </div>
      </div> <!--School-->

      <div class="power">
        <div class="about">
          <h1>The power of Apple. <br>
            Put to work.</h1>

          <div class="buttons">
            <a href="#">Learn more ></a>
          </div>
        </div>

        <div class="all-imgs-container">
          <img src="./img/mac-iphone-ipad.jpg" alt="">
        </div>
      </div>

      <div class="ipad-pro">
        <div class="about">
          <h1>iPad Pro</h1>
          <p>Your next computer is not a computer.</p>

          <div class="buttons">
            <a href="#">Learn More></a>
            <a href="#">Buy ></a>
          </div>

          <div class="all-imgs-container">
            <img src="./img/ipad-pro.jpg" alt="iPad Pro">
          </div>
        </div>
      </div>

      <div class="gift-card">
        <div class="about">
          <h1>Gift Card</h1>
          <p>For everything and everyone.</p>

          <div class="buttons">
            <a href="#">Learn more ></a>
            <a href="#">Buy ></a>
          </div>
        </div>
        <div class="all-imgs-container">
          <img src="./img/gift-card.jpg" alt="giftcards">
        </div>
      </div>

      <div class="reopening">
        <div class="about">
          <h1>Apple's approach to <br>
          reopening our stores.</h1>

          <div class="buttons">
            <a href="#">Read the letter ></a>
          </div>
        </div>

        <div class="all-imgs-container">
          <img src="./img/apple-logo.jpg" alt="apple-logo">
        </div>
      </div>

    </div>

    <script src="./scripts/header.js"></script>
  </body>
</html>