<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/mac.css">
    <title>Mac - Apple</title>
  </head>
  <body>
    <header>
      <div class="content">
        <a href="/"><img src="./img/apple.svg" alt="logo"></a>
        <a href="/mac">Mac</a>
        <p>iPhone</p>
        <p>Watch</p>
        <p>TV</p>
        <p>Music</p>
        <p>Support</p>
        <img src="./img/loupe.svg" alt="loupe">
        <img src="./img/bag.svg" alt="bag" id="bag">
      </div>
    </header>

    <div class="imac">
      <div class="about">
        <h5>New</h5>
        <strong>27-inch model</strong>
        <h1>iMac</h1>
        <h4>The all-in-one for all</h4>

        <div class="buttons">
          <button>Buy</button>
          <a href="#">Learn More ></a>
        </div>
      </div>

      <div class="img-container">
        <img src="./img/mac.jpg" alt="iMac">
      </div>

    </div>


    <div class="macbooks">
      <div class="air">
        <div class="img-container">
          <img src="./img/airmac.jpg" alt="mac air">
        </div>

        <div class="about">
          <h1>MacBook Air</h1>
          <h4>Light. Speed.</h4>

          <div class="buttons">
            <button>Buy</button>
            <a href="#">Learn More ></a>
          </div>
        </div>
      </div>

      <div class="pro">
        <div class="about">
          <strong>13-inch model</strong>
          <h1>MacBook Pro</h1>
          <h4>Power. Moves.</h4>

          <div class="buttons">
            <button>Buy</button>
            <a href="#">Learn More ></a>
          </div>
        </div>

        <div class="img-container">
          <img src="./img/pro-mac.jpg" alt="MacBook Pro">
        </div>
      </div>

      <div class="about"></div>
    </div>

    <script src="./scripts/header.js"></script>
  </body>
</html>