@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;700&display=swap');

:root {
  font-size: 62%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  position: relative;
}

html {
  overflow-x: hidden;
}



/*IPHONE SE ------*/

.iphone-se {
  background-color: #131313;
  height: 100vh;
  width: 100vw;
}

.iphone-11 {
  background-color: #fafafa;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.iphone-se .about-se {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iphone-11 .about-11 {
  width: 450px;
  height: 300px;
  margin: 0 auto;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

.about-se h1, .about-11 h1{
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
}

.about-se h4, .about-11 h4 {
  font-size: 3.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

.about-se p, .about-11 p {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  color: #86868b;
  padding: 5px;
}

.about-se .btns, .about-11 .btns {
  margin-top: 8px;
  z-index: 2;
}

.about-se .btns a, .about-11 .btns a {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 10px;
  color: #2997ff; 
  text-decoration: none;
}

.about-se a:hover , .about-11 a:hover{
  text-decoration: underline;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 70%;
}

.iphone-11 .img-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.iphone-11 .img-container img {
  width: 150%;
}

/*apple tv*/

.apple-tv {
  width: 100vw;
  height: 100vh;
  background-color: #efefef;
  position: relative;
}

.apple-tv .woman {
  width: 200%;
}

.apple-tv .logo {
  width: 20%;
  position: absolute;
  top: 10%;
  left: center;
  width: 9%; /*dimninuir o tamanho no @media pra 50px / / // 150px*/
}

.apple-tv .button {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

.button h3 {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.btn img {
  width: 20px;
  margin-left: 10px;
}

.btn a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #2997ff;
  font-family: Roboto, sans-serif;
}

.btn a:hover {
  text-decoration: underline;
} 


/*GRID ITEMS*/

.grid-collection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: #fff;
  padding: 10px 28px;
  gap: 10px;
}

/* BACKGROUNDS  */

.grid-collection {
  background-color: #fff;
}

.airpods {
  background-color: #fbfbfd;
}

.school {
  background-color: #f0f0f2;
}

.power {
  background-color: #000000;
}

/*ABOUTS*/

.grid-collection .about {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about h1 {
  color: #333;
  font-size: 4.5rem;
  margin-top: 20px;
  font-weight: 600;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.power .about h1 {
  color: #fff;
} 

.about p {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

/*BUTTONS */

.about .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons a {
  text-decoration: none;
  font-size: 2rem;
  color: #2997ff;
  margin: 10px 15px;
  font-family: 'Roboto', sans-serif;
}

.buttons a:hover {
  text-decoration: underline;
}

/*IMGS CONTAINERS / IMGS*/

.airpods .all-imgs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.school .all-imgs-container img {
  width: 90%;
  margin: 0 70px;
}

.power .all-imgs-container img {
  width: 100%;
}

.ipad-pro .all-imgs-container img {
  width: 100%;
}

.gift-card .all-imgs-container img {
  width: 100%;
}

.reopening .all-imgs-container img {
  width: 100%;
}



